---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<google_api_key>&maxResults=1&part=snippet&q=Ireland
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "ZxHXrjIFY-kbuRMfLYwARJS-EUw",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 54,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "bHS93QpTeH3PTrFsQot_g-jhBCs",
              "id": {
                "kind": "youtube#video",
                "videoId": "IU0tzcgcb-Q"
              },
              "snippet": {
                "publishedAt": "2022-08-20T23:23:06Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Northern Ireland",
                "description": "The actual status of Northern Ireland is obscure and debated. No one's really sure what it is. A country? A province?",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/IU0tzcgcb-Q/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/IU0tzcgcb-Q/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/IU0tzcgcb-Q/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-08-20T23:23:06Z"
              }
            }
          ]
        }
  recorded_at: Tue, 17 Jan 2023 21:17:57 GMT
recorded_with: VCR 6.1.0
