---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&order_by=relevant&page=1&per_page=10&query=oweigh%20%20%20%5B93857=%202374%20p2398y5%20%60p98yuh9hi39jg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Tue, 17 Jan 2023 19:26:39 GMT
recorded_with: VCR 6.1.0
